# Ignore build and dependency directories
node_modules
dist
build
.next

# Ignore dot files and directories that aren't needed
.env
.env.*
.git
.gitignore
.github
.vscode

# Ignore lock files and temporary files
npm-debug.log
yarn-error.log
pnpm-debug.log

# Ignore documentation
README.md
LICENSE
tests