
# ========================
# Rate Limiting
# ========================
# Maximum API requests allowed per minute (defaults to 120)
MAX_API_REQUESTS = 120
# Duration (in minutes) to track requests for rate limiting (defaults to 1 minute)
WINDOW_IN_MINUTES = 1

# ========================
# Redis Configuration (Optional but Recommended)
# ========================
REDIS_PORT =
REDIS_HOST = 
REDIS_PASSWORD =

# ========================



# ========================
# CORS Configuration
# ========================
# Allowed origins (default to allow all)
ALLOWED_ORIGINS = *

# ========================
# Disable vercel build cache
# ==========================
VERCEL_FORCE_NO_BUILD_CACHE = 1